# create .env file from this one or just pass these vars to container

SC_CLUSTER_ID=123

# token is mandatory
SC_ACCESS_TOKEN=jwt_token

SC_LOCATION_ID=1

# if missing or empty prod api url will be used
SC_API_URL=https://api.dev1.privateservergrid.com/v1
